[default] ;(all secondary)
;ExposureAuto                        = Off
;GainAuto                            = Off
;Gain                                = 0
;GammaEnable                         = False
;BlackLevel                          = 0
;AcquisitionFrameRateEnable          = True
;AcquisitionFrameRate                = 20
;ExposureTime                        = 1
;AcquisitionMode                     = Continuous
;TriggerSource                       = Line3
;TriggerOverlap                      = ReadOut
;TriggerMode                         = On

[primary]
PrimaryID                           = 19497742
ExposureAuto                        = Off
GainAuto                            = Off
Gain                                = 15
GammaEnable                         = False
BlackLevel                          = 0
AcquisitionFrameRateEnable          = True
AcquisitionFrameRate                = 1
ExposureTime                        = 10000
AcquisitionMode                     = Continuous
LineMode                            = Output
LineSelector                        = Line2
V3_3Enable                          = True
BinningVertical                     = 1
BinningHorizontal                   = 1
Width                               = 1440
Height                              = 1080

[secondary]
ExposureAuto                        = Off
GainAuto                            = Off
Gain                                = 15
GammaEnable                         = False
BlackLevel                          = 0
AcquisitionFrameRateEnable          = True
AcquisitionFrameRate                = 1
ExposureTime                        = 10000
AcquisitionMode                     = Continuous
TriggerSource                       = Line3
TriggerOverlap                      = ReadOut
TriggerMode                         = On
BinningVertical                     = 1
BinningHorizontal                   = 1
Width                               = 1440
Height                              = 1080

[aggregation]
RangeMin    = 100
RangeMax    = 500
NumReps     = 9

[calib-images]
; All values should be expressed in mm (for integer values)
RangeMin    = 300
zC          = -300
StepDist    = 20

# FREQUENTLY USED SETTINGS. Please refer to SpinView for descriptions.
; AcquisitionMode                    - Enumeration (Continuous, SingleFrame, MultiFrame)
; AcquisitionFrameRateEnable         - Boolean
; AcquisitionFrameRate               - Float
; ExposureMode                       - Enumeration (Timed, Trigger Width)
; ExposureAuto                       - Enumeration (Off, Once, Continuous)
; ExposureTime                       - Float
; AutoExposureExposureTimeLowerLimit - Float
; AutoExposureExposureTimeUpperLimit - Float
; GainAuto                           - Enumeration (Off, Once, Continuous)
; Gain                               - Float
; GammaEnable                        - Boolean
; Gamma                              - Float
; BlackLevelSelector                 - Enumeration (All, Analog, Digital)
; BlackLevel                         - Float
; DeviceLinkThroughputLimit          - Integer